<html xmlns:th="http://www.thymeleaf.org">
<header th:insert="fragments/generalLib.html :: generalLib"> </header>
<head>
    <title>RMS Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Application Script -->
    <script language="javascript" src="../js/index.js"></script>

</head>
<body>
    <header th:insert="fragments/header.html :: header"> </header>
    <!--<div class="container">-->
        <!--<div class="row justify-content-center">-->
            <!--<div class="col-md-auto">-->
                <!--&lt;!&ndash;<a href="/">Home</a>&ndash;&gt;-->
                <!--<button id="btnHome" type="button" class="btn btn-primary btn-lg btn-block">Home</button>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row justify-content-center">-->

            <!--<div class="col-md-auto">-->
                <!--&lt;!&ndash;<a href="/order">Order</a>&ndash;&gt;-->
                <!--<button id="btnOrder" type="button" class="btn btn-primary btn-lg btn-block">Order Management</button>-->
            <!--</div>-->

        <!--</div>-->
        <!--<div class="row justify-content-center">-->

            <!--<div class="col-md-auto">-->
                <!--&lt;!&ndash;<a href="/Other">Other</a>&ndash;&gt;-->
                <!--<button id="btnOther" type="button" class="btn btn-primary btn-lg btn-block">Other</button>-->
            <!--</div>-->

        <!--</div>-->
        <!--<div class="row justify-content-center">-->

            <!--<div class="col-md-auto">-->
                <!--&lt;!&ndash;<a href="/Logout">Logout</a>&ndash;&gt;-->
                <!--<button id="btnLogOut" type="button" class="btn btn-primary btn-lg btn-block">Logout</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
        <!--<a class="navbar-brand" href="#">SRM</a>-->
        <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
            <!--<span class="navbar-toggler-icon"></span>-->
        <!--</button>-->

        <!--<div class="collapse navbar-collapse" id="navbarSupportedContent">-->
            <!--<ul class="navbar-nav mr-auto">-->
                <!--<li class="nav-item active">-->
                    <!--<a id="navHome" class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
                <!--</li>-->
                <!--&lt;!&ndash;<li class="nav-item">&ndash;&gt;-->
                    <!--&lt;!&ndash;<a id="navOrder" class="nav-link" href="#">Order</a>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--<li class="nav-item dropdown">-->
                    <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                        <!--Order-->
                    <!--</a>-->
                    <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                        <!--<a id="ddlOrder" class="dropdown-item" href="#">Order Management</a>-->
                        <!--<a class="dropdown-item" href="#">Search</a>-->
                        <!--<a class="dropdown-item" href="#">Add</a>-->

                        <!--<div class="dropdown-divider"></div>-->
                        <!--<a class="dropdown-item disabled" href="#">Setting (Comming Soon...)</a>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link disabled" href="#">Other Function (Comming Soon...)</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a id="navLogout" class="nav-link" href="#">Log Out</a>-->
                <!--</li>-->
            <!--</ul>-->
            <!--<form class="form-inline my-2 my-lg-0">-->
                <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
                <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
            <!--</form>-->
        <!--</div>-->
    <!--</nav>-->

    <header th:insert="fragments/footer.html :: footer"> </header>

</body>
</html>